<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'ja' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assign site_display_title = page.site_title | default: site.title %}
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site_display_title }}</title>
    <meta name="description" content="{{ site.description }}">
    {% seo title=false %}
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}?v={{ site.time | date: '%s' }}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}">
  </head>
  <body>
    {% include header.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
